<div class="form-group">
    <label for="Title">Titulo do Livro</label>
    <input required type="text" class="form-control" id="Title" name="title" value="<%= typeof book !== 'undefined' ? book.title : ''%> ">
  </div>
  <div class="form-group">
    <label for="image"> Capa do Livro Url</label>
    <input required type="url" class="form-control" id="image" name="image" value="<%= typeof book !== 'undefined' ? book.image : ''%> ">
  </div>
  <div class="form-group">
      <label for="description">Descrição do Livro</label>
      <textarea required name="description" class="form-control" id="description" rows="3"><%= typeof book !== 'undefined' ? book.description : ''%></textarea>
    </div>
  <div class="form-group">
      <label class="form-check-label" for="price">Preço do Livro</label>
      <input required type="number" name="price" class="form-control" id="price" value="<%= typeof book !== 'undefined' ? book.price : ''%>">
  </div>
  <div class="form-group">
    <label class="form-check-label" for="stock">Stock do Livro</label>
    <input required type="number" name="stock" class="form-control" id="stock" value="<%= typeof book !== 'undefined' ? book.stock : ''%>">
</div>
<div class="form-group">
  <label class="form-check-label" for="category">Categorias</label>
  <select class="form-control" id="category" name="category" value="<%= typeof book !== 'undefined' ? book.category : ''%>">
    <option selected disabled hidden><%= book.category %></option>
    <option value="Infantil">Infantil</option>
    <option value="Desporto">Desporto</option>
    <option value="Romance">Romance</option>
    <option value="Drama">Drama</option>
    </select>
</div>
  <button type="submit" class="btn btn-success"><%= typeof book === 'undefined' ? 'Criar' : 'Atualizar'%></button>
  <a href="<%= typeof book === 'undefined' ? '/books' : `/books/view/${book._id}`%>" class="btn btn-success">Voltar Atras</a>

