<%- include ('../partials/_header.ejs')  %> 

 
<!-- Header Start --> 

<nav class="navbar navbar-expand-lg  main-nav " id="navbar">
	<div class="container">
	  <a class="navbar-brand" href="/">
	  	<img src="/images/logo.png" alt="" class="img-fluid">
	  </a>

	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
		<span class="ti-align-justify"></span>
	  </button>
  
		  <div class="collapse navbar-collapse" id="navbarsExample09">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item  active"><a class="nav-link" href="/">Home</a></li>
        <% if(typeof user==='undefined' ){ %>
          <li class="nav-item"><a href="/users/login" class="nav-link">Login</a></li>
          <% } else{%>
            <li class="nav-item"><a href="/users/dashboard" class="nav-link">Dashboard</a></li>
            <li class="nav-item"></li><a href="/users/logout" class="nav-link">Terminar sessão de <%= user.name %></a></li>
            <% } %>
			</ul>
		</div>
	</div>
</nav>
<!-- Header Close --> 


<section class="page-title section pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="mb-0 text-lg">Sobre o livro</h1>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section portfolio-single">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<img src="<%= book.image %>" alt="" width="351" height="525" class="img-fluid w-100">
			</div>

			<div class="col-lg-6">
				<div class="project-info">
					<h3 class="mb-4"><%= book.title %></h3>
					<p><%= book.description %></p>
					<div class="row mt-4">
						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Preço</h5>
								<p><%= book.price %> €</p>
							</div>

							<div class="info">
								<h5 class="mb-0">Ano</h5>
								<p><%= book.year %></p>
							</div>

							<div class="info">
								<h5>ISBN</h5>
								<p><%= book.isbn %></p>
							</div>

						</div>

						<div class="col-lg-6">
							<div class="info">
								<h5 class="mb-0">Categoria</h5>
								<p><%= book.category %></p>
							</div>
							<div class="info">
								<h5>Autor</h5>
								<p><%= book.writer %></p>
							</div>
						</div>

						<div class="info">
							<% if(typeof user !== 'undefined' && user.role === 'admin' || typeof user !== 'undefined' && user.role === 'staff'){ %> 
								<a href="/books/edit/<%= book._id %>" class="btn btn-primary">Editar</a><p></p>
								<form action="/books/delete/<%= book._id  %>?_method=DELETE" class="d-inline" method="POST">
									<button type="submit" class="btn btn-danger">Eliminar Livro</button>
								</form>
							<% }else if(typeof user === 'undefined' || typeof user !== 'undefined' && user.carts.findIndex(item=> item.book.equals(book._id))===-1 )  { %> 
							  <% if(book.stock > 0 ){ %>
								<form action="/users/cart/<%= book._id  %>?_method=PUT" class="d-inline" method="POST">
								<button type="submit" class="btn btn-warning"><i class="fa fa-cart-plus" aria-hidden="true"></i> Adicionar ao Carrinho</button>
								<% }else{ %>
									<h4 class="lead text-danger">Stock Indisponivel</h4>
									<% } %>
							</form>
						<% }else{ %>
							<p class="lead text-secondary"><p>Livro no carrinho </p><a href="/users/dashboard" class="btn btn-primary d-inline">Ir para carrinho</a></p>
						<% } %> 
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="project-info">
					<h5 class="mb-4">Comentarios e Opiniões</h5>
					</div>
			</div>
			</div>
                <ul class="list-group">
                    <% book.comments.forEach(comment=>{ %>
                        <li class="list-group-item">
                            <span class="lead text-primary capital font-weight-bold"><%= comment.author.name  %></span>
                            <p class="text-dark font-weight-bold"><%= comment.title  %> </p>
                            <p><%= comment.content  %> </p>
                            <p class="text-secondary"><%= comment.createdAt.toLocaleDateString()  %> <%= comment.createdAt.toLocaleTimeString()  %></p>
                            <% if(typeof user !== 'undefined' && comment.author.id.equals(user._id)){ %> 
                                <a href="/books/<%= book._id  %>/comments/<%= comment._id %>/edit" class="btn btn-warning">Editar Comentario</a>
                                <form action="/books/<%= book._id %>/comments/<%= comment._id %>/delete?_method=DELETE" class="d-inline" method="POST">
                                    <button type="submit" class="btn btn-danger">Eliminar Comentario</button>
                                </form>
                            <% } %> 
                        </li>
                    <% }) %>
                </ul> 
				<br>
				<div class="text-center">
					<a href="/books/<%= book._id  %>/comments/new" class="btn btn-secondary">Adicionar Comentario</a>
				  </div>
	</div>
</section>


<%- include ('../partials/_footer.ejs')  %>