
<!-- Footer start -->
<section class="footer">
	<div class="container">
		<div class="row ">
			<div class="col-lg-6">
				<p class="mb-0">Copyrights © 2022. Desenvolvido com ❤️ por alunos de PAW.</a></p>
			</div>
			<div class="col-lg-6">
				<div class="widget footer-widget text-lg-right mt-5 mt-lg-0">
					<ul class="list-inline mb-0">
						<li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i class="ti-facebook mr-3"></i></a>
						</li>
						<li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i class="ti-twitter mr-3"></i></a>
						</li>
						<li class="list-inline-item"><a href="https://github.com/" target="_blank"><i class="ti-github mr-3"></i></a></li>
						<li class="list-inline-item"><a href="https://www.pinterest.com/" target="_blank"><i class="ti-pinterest mr-3"></i></a></li>
						<li class="list-inline-item"><a href="https://dribbble.com/" target="_blank"><i class="ti-dribbble mr-3"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Footer End -->

<!-- jQuery -->
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/bootstrap/bootstrap.min.js"></script>
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/aos/aos.js"></script>
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/shuffle/shuffle.min.js"></script>
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/animated-text/animated-text.js"></script>
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/counto/apear.js"></script>
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/counto/counTo.js"></script>

<!-- Main Script -->
<script src="http://<%= process.env.IP %>:<%= process.env.PORT %>/js/script.js"></script>
</body>
</html>