<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PAW</title>
  <link rel="icon" type="image/png" href="https://icons.iconarchive.com/icons/martz90/circle/512/books-icon.png" />
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/themify/css/themify-icons.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/counto/animate.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/aos/aos.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/magnific-popup/magnific-popup.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/plugins/animated-text/animated-text.css">
  <link rel="stylesheet" href="http://<%= process.env.IP %>:<%= process.env.PORT %>/font-awesome/css/font-awesome.min.css">

  <!-- Main Stylesheet -->
  <link href="http://<%= process.env.IP %>:<%= process.env.PORT %>/css/style.css" rel="stylesheet">

</head>

<body>