<%- include ('../partials/_header.ejs') %>
<nav class="navbar navbar-light bg-light">
	<span class="navbar-brand mb-0 lead">
		<img
			src="https://cdn3.iconfinder.com/data/icons/book-shop-category-ouline/512/Book_Shop_Category-10-512.png"
			alt=""
			style="height: 2.5em; width: 2.5em"
			class="img-thumbnail rounded-circle"
		/>
		Loja PAW</span
	>
	<span>
		<a href="/users/dashboard" class="btn btn-sm btn-info">Cancelar</a>
	</span>
</nav>

<div class="container mt-3">
	<div class="jumbotron p-3">
		<div class="d-flex justify-content-around" style="font-size: 25px; color: darkblue">
			<span>Carrinho de Compra</span>
		</div>
		<div class="container mt-2">
			<table class="table table-bordered bg-light table-responsive-sm">
				<thead>
					<tr>
						<th scope="col">Capa</th>
						<th scope="col">Titulo</th>
						<th scope="col">Preço</th>
						<th scope="col">Quantidade</th>
						<th scope="col">Preço Total </th>
					</tr>
				</thead>
				<tbody>
					<% user.carts.forEach(cartItem=>{ %>
					<tr>
						<td>
							<img
								src="<%= cartItem.book.image  %>"
								alt="Book Capa"
								class="img-thumbnail"
								style="height: 8rem; width: 8rem"
							/>
						</td>
						<td><%= cartItem.book.title %></td>
						<td class="text-danger">€<%= cartItem.book.price %></td>
						<td><%= cartItem.quantity %></td>
						<td class="text-danger">€<%= cartItem.quantity * cartItem.book.price %></td>
					</tr>
				</tr>
					<% }) %>
					<tr class="lead font-weight-bold text-primary">
						<td colspan="4">Preço de Envio</td>
						<td colspan="3">€<%= shippingprice %></td>
					  </tr>
					<tr class="lead font-weight-bold text-primary">
						<td colspan="4">Preço Total</td>
						<td colspan="3">€<%= total %></td>

					</tr>
	
				</tbody>
				
			</table>

		</div>
		<hr class="my-3" />
		
		<!-- BOTÃO PARA IMPLEMENTAR A API DO STRIPE-->
		<div class="row">
			<form action="/users/order" method="POST" class="mx-auto">
				<script
				src="https://checkout.stripe.com/checkout.js"
				class="stripe-button"
				data-key="pk_test_51L707yGlHGAzhcu2TVrH3O4L649XGS5WezjEx7FRDBZQo78KaJ1KolHg8GPGlXsl1Y3XVjWfXXa0GAZANuPFfm6m00Cz92AFlv" 
				data-name="PAW Loja"
				data-image="/img/livros.jpg"
				data-locale="auto">
			</script>
			<!-- ESCONDER BOTÃO E ALTERAR PARA OUTRO FORMATO-->
			<script>
				document.getElementsByClassName('stripe-button-el')[0]
				.style.display = 'none';
			</script>
			<button type="submit" class="btn btn-primary">Checkout <%= total %> € </button>
			</form>
		</div>
	</div>
</div>

<%- include ('../partials/_footer.ejs') %>
